@font-face {
    font-family: "pixelUnicode";
    src: url("./fonts/pixel_unicode/Pixel-UniCode.ttf");
}

canvas{
    width: 100%;
}
body {
    font-family: "pixelUnicode";
    font-size  : 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.header {
    background-color: #2E2E2E;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

.header > a{
    float: right;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}
.header > a:hover, a:visited, a:link, a:active
{
    color: white;
    text-decoration: none;
}
.header > a:hover{
    color: #BBB;
}

.header > .right{
    float: right;
}

.title {
    margin-left: 10px;
    margin-right: 10px;
}

.canvas-container {
    float: left;
    /* margin-left: 10px; */
}

#container_sceneHelp{
    display: none;
}
.descvar, .desctype {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
}
.desctype{
    color: #666;
}
.eq {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

button{
    font-family: "pixelUnicode";
    font-size  : 20px;
    font-weight: 600;
    letter-spacing: 1px;
    border: none;
    /* border-width: 2px; */
    background-color: #2E2E2E;
    color: #FFF;
    padding: 3px 10px 3px 10px;
}
button:hover {
    cursor: pointer;
    background-color: #666;
    /* color: #FFF; */
}
.morebutton {
    padding: 0px 10px 0px 10px;
    height: 1em;
}

.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: 2px solid black;
}

.legend {
    display: inline-block;
    min-width: 65px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.right-main{
    flex-grow: 1;
    flex-basis: 380px;
    /* margin-left: 10px; */
    padding: 1em;
    background-color: #F7F7F7;
}

.select {
    font-family: "PixelUniCode";
    font-size  : 16px;
    height     : 28px;
    /* font-size  : 20px; */
    font-weight: 600;
    letter-spacing: 1px;
}
/* #select_scene > option { */
/*     font-family: "PixelUniCode"; */
/*     font-size  : 16px; */
/*     font-weight: 400; */
/*     letter-spacing: 1px; */
/* } */

.hideable_container {
    margin: 10px;
    margin-left: 0;
    /* background-color: #00000022; */
    background-color: #D6D6D6;
    padding: 10px;
    display: none;
}

.showfirst {
    display: block;
}

#textarea_scene {
    /* font-family: "PixelUniCode"; */
    /* font-size  : 20px; */
    /* letter-spacing: 1px; */
    resize : vertical;
    width: 99%;
    height: 10em;
    border-width: 2px;
}

.grid_container{
    display: grid;
    grid-template-columns: 6em auto;
}

.grid_container > input {
    font-family: "PixelUniCode";
    font-size  : 16px;
    /* font-size  : 20px; */
    font-weight: 600;
    letter-spacing: 1px;
}
